<form action="/admin/article/create" method="post">
	<fieldset>
		<legend>Create Article</legend>
		<label for="title">Title</label>
		<input type="text" name="title" />
		<label for="body">Body</label>
		<textarea name="body" cols="60" rows="22"></textarea>
		<input type="submit" value="submit" />
	</fieldset>
</form>