<h2>Admin</h2>
<p>You can manage your website from this page.</p>
<ul>
	<li><a href="/admin/article">Articles</a></li>
	<li><a href="/admin/page">Pages</a></li>
	<li><del>Projects</del> coming soon</li>
	<li><del>Settings</del> coming soon</li>
</ul>