<h2>Articles</h2>
<p>You can manage your articles from here</p>
<% if @articles.empty? %>
	<p>You currently have no articles</p>
<% else %>
	<table>
		<tr>
			<th>Title</th>
			<th>Posted By</th>
			<th>Posted On</th>
		<% for article in @articles %>
		<tr>
			<td><%=article.title%></td>
			<td><%=article.user.name %></td>
			<td><%=article.date.strftime("%b %d, %Y") %></td>
		</tr>
		<% end %>
	</table>
<% end %>
<a href="/admin/article/create">Create Article</a>