<% @title = "Home" %>

<% if @articles.empty? %>
	<p>There are no currently no posts!</p>
<% else %>

	<% for article in @articles %>
	<div class="article">
		<h3><a href="/article/<%=article.id%>"><%=article.title%></a></h3>
		<h4><%=article.date.strftime("%b %d %Y")%></h4>
		<%=RedCloth.new(article.body).to_html%>
	</div>
	<% end %>
<% end %>
		